#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#


# This value is set in the .env file
x-airflow-uid: "${AIRFLOW_UID:-50000}"

x-common-config: &common-config
  image: "apache/airflow:2.9.2"
  user: "${AIRFLOW_UID:-50000}:${AIRFLOW_GID:-0}"
  env_file:
    - .env
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - /var/run/docker.sock:/var/run/docker.sock

services:
  postgres:
    image: "postgres:16"
    container_name: "postgres"
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    volumes:
      - airflow-pg-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - default

  redis:
    image: "redis:latest"
    container_name: "redis"
    ports:
      - "6379:6379"
    volumes:
      - airflow-redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - default

  airflow-webserver:
    <<: *common-config
    container_name: "airflow-webserver"
    command: webserver
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 10s
      timeout: 10s
      retries: 5
    networks:
      - default
    deploy:
      resources:
        limits:
          memory: 1.5G

  airflow-scheduler:
    <<: *common-config
    container_name: "airflow-scheduler"
    command: scheduler
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "airflow", "tasks", "list", "--subdir", "/dev/null"]
      interval: 10s
      timeout: 10s
      retries: 5
    networks:
      - default

  airflow-triggerer:
    <<: *common-config
    container_name: "airflow-triggerer"
    command: triggerer
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "airflow", "tasks", "list", "--subdir", "/dev/null"]
      interval: 10s
      timeout: 10s
      retries: 5
    networks:
      - default

  airflow-worker:
    <<: *common-config
    container_name: "airflow-worker"
    command: celery worker
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "airflow", "tasks", "list", "--subdir", "/dev/null"]
      interval: 10s
      timeout: 10s
      retries: 5
    networks:
      - default

  airflow-flower:
    <<: *common-config
    container_name: "airflow-flower"
    command: celery flower
    ports:
      - "5555:5555"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - default

  airflow-init:
    <<: *common-config
    container_name: "airflow-init"
    entrypoint: /bin/bash
    command:
      - -c
      - |
        mkdir -p /opt/airflow/logs /opt/airflow/dags /opt/airflow/plugins
        chown -R "${AIRFLOW_UID:-50000}:${AIRFIG_GID:-0}" /opt/airflow/{logs,dags,plugins}
        exec airflow db init
    networks:
      - default

  # --- OUR NEW SERVICES ---

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - default
    deploy:
      resources:
        limits:
          memory: 1G

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    networks:
      - default
    deploy:
      resources:
        limits:
          memory: 1.5G
          cpus: '0.5'

# --- END OF SERVICES ---

volumes:
  airflow-pg-data:
  airflow-redis-data:

networks:
  default:
    name: airflow_default